<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
     <ion-back-button>
     </ion-back-button>
   </ion-buttons>
 </ion-toolbar>
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
    </ion-toolbar>
</ion-header> -->
<ion-content [fullscreen]="true" class="ion-padding">
  <h1 class="toolbar-content header" style="    font-weight: 600;
  font-size: 2em;">Reset password<br></h1>
  <p class="toolbar-content" style="font-weight: 600; font-size: 14px;     padding: 0px 15px;">Please Enter Your Email And We’ll Send You
    A Link To Reset Password</p>

  <form [formGroup]="resetForm" (ngSubmit)="resetPassword()" novalidate>
    <div>
      <ion-list>
        <ion-item class="ion-margin-top" lines="none">
          <ion-input label="Password" fill="outline" labelPlacement="floating" formControlName="newPassword"
            errorText="Password is required"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-top" lines="none">
          <ion-input label="Confirm Password" fill="outline"labelPlacement="floating" formControlName="confirmNewPassword"
            errorText="Confirm Password is required"></ion-input>
        </ion-item>
      </ion-list>
    </div>

    <ion-button  expand="block" color="danger"   class="ion-margin-top-50" type="submit">
      Reset Password
    </ion-button>
  </form>
  <div class="ion-margin-top-50">
    <ion-text color="primary">
      <hr>
    </ion-text>
  </div>
  <div>
    <ion-button expand="block" color="dark" class="ion-margin-top-10 btn-primary" type="submit">
     Continue with Email 
      </ion-button>
      <ion-button expand="block" color="outline" class="ion-margin-top-50 btn-primary" type="submit">
        <ion-img (click)="loginWithFacebook()" class="social-img" src="../../../assets/images/google.png" />Continue with Google 
        </ion-button>
  <ion-button expand="block" color="clear solid" class="ion-margin-top-50" type="submit">
    <ion-img (click)="loginWithGoogle()" class="social-img" src="../../../assets/images/facebook.png" />Continue with Facebook 
    </ion-button>
 
  </div>
 
  <div style="margin-top:5%" class="terms"><small>By Logging In You Are Agreeing To The Following <br><span style="color: #D4002A  !important;padding-left: 5px !important;"
    (click)="termsAndConditions()">Terms and 
    Conditions</span> </small></div>

    <div class="ion-margin-top-50">
      Already have an account?<ion-label class="underline"  (click)="register()"><span class="paragraph-red" style="color: #D4002A  !important;padding-left: 5px !important;"><b>Sign In</b></span></ion-label> here
     </div><br/><br/>

  <!-- <div class="ion-margin-top-50">
    Don't have an account?<ion-label class="underline" (click)="register()"><span class="paragraph-red" style="color: rgb(252, 0, 0)  !important;padding-left: 5px !important;">Sign Up</span></ion-label> here
  </div> -->
<app-bottom-menu></app-bottom-menu>