.licence-label {
  margin-left: 10px;
}
.ion-margin-top-5 {
  margin-top: 5px;
}

ion-radio::part(native){
  border: 1px solid #b3b3b3;
  margin: 5%;
}


// ion-select{
//   border: 1px solid #000 !important;
//   border-radius: 3px;
//   padding-top: 7px;
//   padding-bottom: 15px;
// }
