.social-img {
  width: 16px;
}
.social-images-container {
  display: flex;
  flex-direction: row;
}

.header{
  font-size: 2.8em;
}

.toolbar-content {
    flex: 1 1 0%;
    order: 3;
    min-width: 0px;
    max-width: 100%;
    text-align: center !important;
}
// .ng-otp-input-wrapper{
//    text-align: right;
// }

// .ng-otp-input-wrapper input{
//   margin-right: 9%!important;
//   text-indent: 0px !important;

// }

.otp-input  {
  display: flex;
  flex: 1 1 0%;
  flex-direction: inherit;
  align-items: inherit;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: inherit;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid rgb(27, 26, 26) !important;
}
