<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
     <ion-back-button>
     </ion-back-button>
   </ion-buttons>
 </ion-toolbar>
  <ion-toolbar>
    <h1 class="toolbar-content header">Reset Password <br></h1>
     <p class="toolbar-content">Please Enter Your Email And We'll Send You<br> A Link To Reset Password</p>
 
  </ion-toolbar>
</ion-header> -->
<ion-content [fullscreen]="true" class="ion-padding">
  <h1 class="toolbar-content header" style="    font-weight: 600;
  font-size: 2em;">Reset password<br></h1>
  <p class="toolbar-content" style="font-weight: 600; font-size: 14px; padding: 0px 15px;">Please Enter Your Email And We’ll Send You
    A Link To Reset Password</p>
  <form [formGroup]="resetForm" novalidate>
    <div>
      <ion-list >
        <ion-item class="ion-margin-top" lines="none" *ngIf="otpSent !== true">
          <ion-input type="email" fill="outline" placeholder="Email Address" labelPlacement="floating" formControlName="email"
            errorText="A valid email is required"></ion-input>
        </ion-item>
        <!-- <ion-item class="ion-margin-top" lines="none"  *ngIf="otpSent == true" style="display: none;">
          <ion-input type="number" placeholder="OTP"  fill="outline" labelPlacement="floating" formControlName="otpmis"
            errorText="A valid otp is required"></ion-input>
        </ion-item>
         
        <ng-otp-input (onInputChange)="onOtpChange($event)"   *ngIf="otpSent == true" [config]="{length:5}"></ng-otp-input> -->


        <ion-grid class="ion-margin-top" *ngIf="otpSent == true">
          <ion-row>
            <ion-col>
              <!-- <ion-item> -->
                <ion-input #Field1 (keyup)="gotoNextField(Field2,1, Field1)" style="border:0px" type="tel" pattern="[0-9]*" maxlength="1" inputmode="numeric"
                  class="otp-input"></ion-input>
              <!-- </ion-item> -->
            </ion-col>
            <ion-col>
              <!-- <ion-item> -->
                <ion-input #Field2 [max]="10" (keyup)="gotoNextField(Field3,2,Field2)" style="border:0px" type="tel" pattern="[0-9]*" maxlength="1"  inputmode="numeric" 
                  class="otp-input"></ion-input>
                <!-- </ion-item> -->
            </ion-col>
            <ion-col>
              <!-- <ion-item> -->
                <ion-input #Field3 [max]="10" (keyup)="gotoNextField(Field4,3,Field3)" style="border:0px"  type="tel" pattern="[0-9]*" maxlength="1"  inputmode="numeric" 
                  class="otp-input"></ion-input>
                <!-- </ion-item> -->
            </ion-col>
            <ion-col>
              <!-- <ion-item> -->
                <ion-input #Field4 [max]="9" (keyup)="gotoNextField(Field5,4,Field4)" style="border:0px"  type="tel" pattern="[0-9]*" maxlength="1" inputmode="numeric"  class="otp-input">
    
                </ion-input>
              <!-- </ion-item> -->
            </ion-col>
            <ion-col>
              <!-- <ion-item> -->
                <ion-input #Field5 [max]="9"  type="tel" pattern="[0-9]*" maxlength="1"  (keyup)="gotoNextField('',5,Field5)" inputmode="numeric" style="border:0px"  class="otp-input"></ion-input>
              <!-- </ion-item> -->
            </ion-col>
          </ion-row>
        </ion-grid>
        <br/>
    <ion-label style="text-align: right;" *ngIf="otpSent == true" ><p class="headerOtp ion-margin-top-10">Didn't Recieve Code?<span class="paragraph-red" style="color: rgb(240, 15, 15) !important;padding-left: 5px !important;" (click)="resendPassword()"><b>Resend OTP</b></span> </p></ion-label>

    <br/>
        <ion-item class="ion-margin-top" lines="none"  *ngIf="otpSent == true">
          <ion-input type="text" placeholder="New Password" fill="outline" labelPlacement="floating" formControlName="password"
            errorText="A valid password is required"></ion-input>
        </ion-item>
      </ion-list>
    </div>
    <ion-button expand="block" color="danger" (click)="resetPassword()"  class="ion-margin-top-50"  *ngIf="otpSent !== true" type="submit">
     Reset Password
    </ion-button>
    <ion-button expand="block"  color="dark" (click)="completeResetPassword()" class="ion-margin-top-50"  *ngIf="otpSent == true" type="submit">
      Reset Password
    </ion-button>


  </form>
  <!-- <div class="ion-margin-top-50">
    <ion-label class="underline" (click)="register()">Register</ion-label>
  </div> -->

  <!-- <div class="ion-margin-top-50">
    <ion-text color="primary">
      <h3>Sign in with provider</h3>
    </ion-text>
            

  </div> -->
  <!-- <div class="social-images-container ion-margin-top-50">
    <ion-img (click)="loginWithGoogle()" class="social-img" src="../../../assets/images/google.png" />
    <ion-img (click)="loginWithFacebook()" class="social-img" src="../../../assets/images/facebook.png" />
    <ion-img (click)="loginWithApple()" class="social-img" src="../../../assets/images/apple.png" />
  </div> -->

  <div class="ion-margin-top-50">
    <ion-text color="primary">
      <hr>
    </ion-text>
  </div>
  <div>
    <ion-button expand="block" color="dark"  style="margin-top: 10%;" class="ion-margin-top-10 btn-primary" type="submit">
     Continue with Email 
      </ion-button>
      <ion-button expand="block" color="outline"  class="ion-margin-top-50 btn-primary" type="submit">
        <ion-img (click)="loginWithFacebook()" class="social-img" src="../../../assets/images/google.png" />Continue with Google 
        </ion-button>
  <ion-button expand="block"  color="clear solid" class="ion-margin-top-50" type="submit">
    <ion-img (click)="loginWithGoogle()" class="social-img" src="../../../assets/images/facebook.png" />Continue with Facebook 
    </ion-button>
 
  </div>
 
  <div style="margin-top:5%" class="terms">By Logging In You Are Agreeing To The Following <br><a style="color: #D4002A  !important;padding-left: 5px !important;"
    (click)="termsAndConditions()">Terms and 
    Conditions</a></div>


  <div class="ion-margin-top-50">
    Already have an account?<ion-label class="underline"  (click)="login()"><span class="paragraph-red" style="color:#D4002A  !important;padding-left: 5px !important;"><b>Sign In</b></span></ion-label> here
   </div><br/><br/>

</ion-content>
<!-- <app-bottom-menu></app-bottom-menu> -->