

<div >
  <ion-content [fullscreen]="true" class="ion-padding" style="    height: calc(100vh - 95%);">
  
   
  </ion-content>  
  <ion-footer style=" margin-top: -50%;">
    <div class="logo-container" >
      <ion-text  style="font-weight: 600; padding:3%; font-size:1em; color:white; font-style:normal; " class=" ion-text-center">
       LUXURY CARS, CHAUFFEUR DRIVE & POINT 2 POINT VEHICLES
      </ion-text>
      
     </div>
     <!-- <ion-button expand="block" color="danger" 
     (click)="register()"
     style="padding:5%; padding-bottom:0px;" class="mt-2 ion-margin-top-20 btn-primary" type="submit">
         Get started
        </ion-button> -->
        <button  (click)="register()" type="submit" class="mt-2 ion-margin-top-20 btn-primary loginButton1">
          Get Started
        </button>
        <button  (click)="login()" type="submit" class="mt-2 ion-margin-top-20 btn-primary loginButton2">
          Sign In
        </button>
        <!-- <ion-button 
        (click)="login()"
        expand="block" color="light" style="padding:5%; padding-bottom:0px;" class="mt-2 ion-margin-top-20 btn-primary" type="submit">
         Sign in
          </ion-button> -->
  </ion-footer>
</div>

  <!-- <app-bottom-menu></app-bottom-menu> -->
